<nav>
    <p>HandiRecrute</p>
    <div class="menu">
        <a href="/">Accueil</a>
        <a href="#">Espace candidat</a>
        <a href="#">Espace recruteur</a>
        <a href="/offres">Offres d'emploi</a>
        <a href="#">Contact</a>
    </div>
    <div class="login">
        <a href="/inscription">Inscription</a>
        <a href="/connexion">Connexion</a>
    </div>
</nav>