<nav>
    <p>HandiRecrute</p>
    <div class="menu">
        <a href="/">Accueil</a>
        <a href="#">Espace candidat</a>
        <a href="#">Espace recruteur</a>
        <a href="#">Offres d'emploi</a>
        <a href="#">Contact</a>
    </div>
    <div class="login">
        <a href="#">Inscription</a>
        <a href="#">Connexion</a>
    </div>
</nav>