<footer>
    <div class="handiFooter">
        <h3>Handi Recrute</h3>
        <p>
            Handi Recrute est une association de loi 1901 qui a été constituée début 2019.
            Elle a pour but de favoriser l’employabilité et l’insertion professionnelle des personnes en situation handicap.
        </p>
        <p>
            ©HandiRecrute {{ "now"|date("Y") }}, Tout droit reservé
        </p>
    </div>
    <div class="AssociationFooter footerColumn">
        <p>Association</p>
        <a href="/about">A propos</a>
    </div>
    <div class="aideFooter footerColumn">
        <p>Aide</p>
        <a href="/faq">FAQ</a>
        <a href="/faq">Accessibilité</a>
        <a href="/faq">Conditions générales d'utilisations</a>
    </div>
</footer>